<br/><br/>

<div id="introMessage" class="bluebox" >
	Welcome to Sprite Club.&nbsp; We offer users a virtual world where they can challenge and compete in superficial contests involving their children (Sprites).&nbsp; Move up in rank and file. Evolve. Grow.&nbsp; Fulfill your destiny and become the proud parent of the cutest sprite in the universe!
</div>



<table>
  <tr>
  	<th>Name</th>
    <!--<th>Received by user</th>-->
	<th></th>
    <th>End Date</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%= link_to contest.name, :action=>'show',:id=>contest.id %>:</td>
	<td>
		<% for i in (0..1) %>
			<!-- put tiny images of contestants here -->
			<%=contest.contestants[i].name%>
			<% if i <1 %> vs. <%end%>
		<%end%>
	</td>
    <td><%=h contest.end_time %></td>
    <td></td>

  </tr>
<% end %>
</table>

<br />

<fb:dashboard>
	
<fb:create-button href="<%=url_for :action=>'new' %>">Create a new Face-Off</fb:create-button>
</fb:dashboard>
