<h2>Where your offspring compete with others' offspring to find out who has the cutest kid</h2>

<div id="introMessage" class="bluebox" >
	Put some introduction text here
</div>





Need to make this page more intesting, by featuring in progress contests to vote on

<table>
  <tr>
  	<th>Name</th>
    <!--<th>Received by user</th>-->
    <th>End Date</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%= link_to contest.name, :action=>'show',:id=>contest.id %></td>
	
    <td><%=h contest.end_time %></td>
    <td></td>

  </tr>
<% end %>
</table>

<br />

<h2><%= link_to 'New Face-Off', new_contest_path %></h2>
