<h2 style="text-align:center">THE OFFICIAL ARENA OF FRIENDLY COMPETITION TO DETERMINE ONE THING - WHO HAS THE CUTEST KID</h2>

<div id="introMessage" class="bluebox" >
	Welcome to Sprite Club.&nbsp; We offer users a virtual world where they can challenge and compete in superficial contests involving their children (Sprites).&nbsp; Move up in rank and file. Evolve. Grow.&nbsp; Fulfill your destiny and become the proud parent of the cutest sprite in the universe!
</div>


<table>
  <tr>
  	<th>Name</th>
    <!--<th>Received by user</th>-->
    <th>End Date</th>
  </tr>

<% for contest in @contests %>
  <tr>
  	<td><%= link_to contest.name, :action=>'show',:id=>contest.id %></td>
	
    <td><%=h contest.end_time %></td>
    <td></td>

  </tr>
<% end %>
</table>

<br />

<h2><%= link_to 'New Face-Off', new_contest_path %></h2>
