div.mainContainer {
	padding: 0 20px 0 40px;
}

.votetotal {
	display: block;
}

.bluebox {
	border:thin solid #D4DAE9;
	margin-bottom:20px;
	padding:5px;
	background-color:#EDEFF4;
}

div.genderM {
	border: 1px solid blue;
	background-color:#D8DFEA;
	display:inline-block;
	padding:5px
}

div.genderF {
	border: 1px solid #FF007B;
	background-color: #FFE2EE;
	display:inline-block;
	padding:5px
}

div.gender {
	border: 1px solid;
	border-color: #888888;
	display:inline-block;
	padding:5px
}

div.timer {
	text-align:center;
	font-size:x-large;
}

div.results {
	color: #55FF55;
	font-size:x-large;
	font-weight:bold;
	text-align:center;
}

div.next_faceoff_link {
	float:right;
}
div.more_votes_link {
	float:left;
}

div.faceoff_list {
	border: solid 1px #EDEFF4;
	padding: 5px;
}
div.faceoff_list h2 {

	background-color: #EDEFF4;
	padding: 0 0 0 5px;
}
